@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import "tailwindcss";


.font-neon {
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.font-kek{
  font-family: 'Merriweather', serif;
  
}

/* Neon Glow Animation */
@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.8), 0 0 20px rgba(138, 43, 226, 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(138, 43, 226, 1), 0 0 40px rgba(138, 43, 226, 0.8);
  }
  100% {
    box-shadow: 0 0 10px rgba(138, 43, 226, 0.8), 0 0 20px rgba(138, 43, 226, 0.6);
  }
}

.font-adit{
  font-family: 'Tektur';
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.neon-box {
  border: 2px solid rgba(138, 43, 226, 0.6);
  padding: 1.5rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  animation: pulseGlow 1.5s infinite alternate;
}

.neon-box:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px currentColor;
}

@keyframes neonGlow {
  0% {
    text-shadow: 0 0 5px #690661, 0 0 10px #f308df, 0 0 15px #ed68d5;
  }
  50% {
    text-shadow: 0 0 10px #f308df, 0 0 20px #ed68d5, 0 0 30px #690661;
  }
  100% {
    text-shadow: 0 0 5px #ed68d5, 0 0 10px #690661, 0 0 15px #f308df;
  }
}

.neon-text {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  animation: neonGlow 2s infinite alternate;
}
